<div class="container">
  <div class="row">
    <div class="col">
      <h3>Pendientes</h3>
    </div>
    <div class="col">
      <h3>Listas</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Pendientes</h3>
    </div>
    <div class="col">
      <h3>Listas</h3>
    </div>
  </div>

</div>

<% @todos.each do |task| %>
  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h5 class="card-title"><%= task.description %></h5>
      
    </div>
  </div>
<% end %>
