<div class="container">
  <div class="row">
    <div class="col">
      <h3>Listas</h3>
    </div>
    <div class="col">
      <h3>Pendientes</h3>
    </div>
  </div>

  <% @todos.each do |task| %>
    <div class="row">
      <div class="col">
          <h5><%= task.description if task.completed %></h5>
      </div>
      <div class="col">
        <h5><%= task.description if !task.completed %></h5>
      </div>
    </div>
  <% end %>
</div>
