<div class="container">
  <div class="row">
    <div class="col">
      <h3>Pendientes</h3>
    </div>
    <div class="col">
      <h3>Listas</h3>
    </div>
  </div>

  <div class="row">
    <% @todos.each do |task| %>
      <div class="col">
          <h5><%= task.description %></h5>
      </div>
    <% end %>
    <% @todos.each do |task| %>
      <div class="col">
          <h5><%= task.description %></h5>
      </div>
    <% end %>
  </div>

</div>
