<div class="container">
  <div class="row">
    <div class="col">
      <h3>Pendientes</h3>
    </div>
    <div class="col">
      <h3>Listas</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Pendientes</h3>
    </div>
    <div class="col">
      <h3>Listas</h3>
    </div>
  </div>

</div>
